{{!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Products</title>
</head>

<body>

    <h1>Products</h1>

    <ul id="product-list">
        <li id="title"></li>
        <li id="description"></li>
        <li id="price"></li>
        <li id="code"></li>
        <li id="stock"></li>
        <li id="category"></li>
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts.js"></script>

</body>

</html> --}}




{{!-- <div id="products-list">
    <h1>Products</h1>
    <form id="category-form">
        <input type="text" id="title" required>
        <input type="text" id="description" required>
        <input type="text" id="price" required>
        <input type="text" id="code" required>
        <input type="text" id="stock" required>
        <input type="text" id="category" required>
        <button type="submit">Crear</button>
    </form>
</div> --}}