<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Products</title>
</head>

<body>

    <div id="newProduct">

        <h1>New product</h1>

        <form id="product-form">
            <input type="text" id="product" placeholder="title" requiered>
            <input type="text" id="product" placeholder="description" requiered>
            <input type="text" id="product" placeholder="price" required>
            <input type="text" id="product" placeholder="code" required>
            <input type="text" id="product" placeholder="stock" required>
            <input type="text" id="product" placeholder="status" required>
            <input type="text" id="product" placeholder="category" required>
            <button type="submit">Crear</button>
        </form>

    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts.js"></script>

</body>

</html>