<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Products</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>


    <h1>ListProducts</h1>

    <table id="product-table">

        <tr>

            <th>id</th>

            <th>Title</th>

            <th>Description</th>

            <th>Price</th>

            <th>code</th>

            <th>stock</th>

            <th>status</th>

            <th>Category</th>

            <th>Delete</th>

        </tr>



    </table>


    <div id="newProduct">

        <h1>New product</h1>

        <form id="product-form">
            <input type="text" id="title-input" placeholder="title" requiered>
            <input type="text" id="description-input" placeholder="description" requiered>
            <input type="text" id="price-input" placeholder="price" required>
            <input type="text" id="code-input" placeholder="code" required>
            <input type="text" id="stock-input" placeholder="stock" required>
            <input type="text" id="status-input" placeholder="status" required>
            <input type="text" id="category-input" placeholder="category" required>
            <button type="submit">Crear</button>
        </form>

    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts.js"></script>


</body>

</html>